@model LocalFood.Web.ViewModels.Products.ProductsListViewModel
@{
    this.ViewData["Title"] = "Продукти на производител";
}
<hr />
<partial name="_ProductsPartial" model="@Model">

<hr />
<nav class="mx-auto" aria-label="Page navigation">
    <ul class="pagination  justify-content-center ">
        <li class="page-item @if(!Model.HasPrevoiusPage) {<text>disabled</text>}">
            <a class="page-link page-item" asp-action="ProducerProductsAll" asp-route-id="@Model.PrevoiusPageNumber">
                <span class="page-item disabled" aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="ProducerProductsAll" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">@Model.PageNumber</span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
        {
            if (i <= Model.PageCount)
            {
                <li class="page-item"><a class="page-link" asp-action="ProducerProductsAll" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item @if(!Model.HasNextPage) {<text>disabled</text>}">
            <a class="page-link page-item" asp-action="ProducerProductsAll" asp-route-id="@Model.NextPageNumber">
                <span class="page-item disabled" aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
