<div class="row">
    @foreach (var product in this.Model.Products)
    {
        <div class="media col-md-4">
            <div class="align-content-around">
                <div class="media col-md-12">
                    <svg>
                        <image href=@product.Image class="img-responsive" width="100%" style="min-height:400px" />
                    </svg>
                </div>
                <div class="col">
                    <div class="media-body">
                        <h4 class="media-heading">@product.Name</h4>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Категория: @product.CategoryName</h5>
                    </div>
                    <hr />
                    <div class="media-body">
                        <h6 class="media-heading">@product.Description</h6>
                    </div>
                    <hr />
                    @if ((string)this.ViewData["Title"] != "Моите продукти")
                    {
                        <div class="media-body">
                            <h6 class="media-heading">Производител: @product.ProducerName</h6>
                            <form method="post" asp-controller="Producers" asp-route-id="@product.ProducerId" asp-action="Details">
                                <button class="btn btn-info">Виж профил</button>
                            </form>
                            <br />
                            <form method="post" asp-controller="Products" asp-route-producerId="@product.ProducerId" asp-action="ProducerProductsAll">
                                <button class="btn btn-warning">Всички продукти на @product.ProducerName</button>
                            </form>
                        </div>
                        <hr />
                        <div class="media-body">
                            <h6 class="media-heading">@product.FullAddress</h6>
                            <i class="fa fa-map-marker icon-clock"></i>
                            <a rel="noreferrer noopener" href="@product.UrlLocation" target="_blank">Виж на картата</a>
                        </div>
                    }
                    <br />
                    <div class="media-body">
                        <h4 class="media-heading text-danger">Цена: @product.Price лв.</h4>
                    </div>
                    <hr />
                </div>
                @if ((string)this.ViewData["Title"] == "Моите продукти")
                {
            <div class="btn-group">
                <a asp-controller="Products" asp-route-id="@product.Id" asp-action="Edit" class="btn btn-warning" role="button" aria-pressed="true">Редактирай</a>
                <form method="post" asp-controller="Products" asp-route-id="@product.Id" asp-action="Delete">
                    <button class="btn btn-danger" >Изтрий</button>
                </form>
            </div>
                }
            </div>
        </div>
    }
</div>
