@model LocalFood.Web.ViewModels.Producers.ProducersListViewModel
@{ 
    this.ViewData["Title"] = "Производители";
}
<div class="row">
    @foreach (var producer in Model.Producers)
    {
        <div class="media col-md-4 d-flex align-items-stretch">
            <div class="card mb-3">
                <h3 class="card-header">@producer.FullName</h3>
                <div class="card-body">
                    <h5 class="card-title">@producer.CompanyName</h5>
                    <h6 class="card-subtitle text-muted">@producer.FullAddress</h6>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                    <image href=@producer.Image class="media-object mr-3 img-responsive" width="100%" height="200" />
                </svg>
                <div class="card-body">
                    <p class="card-text">@producer.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@producer.PhoneNumber</li>
                    <li class="list-group-item">@producer.Site</li>
                    <li class="list-group-item">@producer.Email</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <div class="card-body">
                        <h5 class="card-text">Оцени</h5>
                        <fieldset class="rating">
                            <span class="star" producer-id="@producer.Id" data-vote="1"><i class="fa fa-star"></i></span>
                            <span class="star" producer-id="@producer.Id" data-vote="2"><i class="fa fa-star"></i></span>
                            <span class="star" producer-id="@producer.Id" data-vote="3"><i class="fa fa-star"></i></span>
                            <span class="star" producer-id="@producer.Id" data-vote="4"><i class="fa fa-star"></i></span>
                            <span class="star" producer-id="@producer.Id" data-vote="5"><i class="fa fa-star"></i></span>
                            <span class="myratings" id="averageVoteValue @producer.Id">@producer.AverageVote</span>
                            <span class="myratings"> / 5</span>
                        </fieldset>
                    </div>
                }

                <div class="card-footer text-muted">
                    Регистриран на @producer.CreatedOn.ToShortDateString()
                </div>
            </div>
        </div>
    }
</div>
<hr />
<partial name="_PagingAllPartial" model="@Model">
<form method="post" id="antiForgeryForm"></form>
@section Scripts
{ 
    <script>
        $("span[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var producerId = $(this).attr("producer-id");
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { producerId : producerId, value : value };
                $.ajax({
                    type: 'POST',
                    url: '/api/Votes',
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken,
                    },
                    success: function (data) {
                        $(document.getElementById('averageVoteValue '+producerId+'')).html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json'
                });
            });
        });

    </script>

}