@model LocalFood.Web.ViewModels.Producers.ProducerViewModel
@{
    this.ViewData["Title"] = "Производител";
}
<hr />
<div class="media col-md-4 d-flex align-items-stretch">
    <div class="card mb-3">
        <h3 class="card-header">@Model.FullName</h3>
        <div class="card-body">
            <h5 class="card-title">@Model.CompanyName</h5>
            <h6 class="card-subtitle text-muted">@Model.FullAddress</h6>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
            <image href=@Model.Image class="media-object mr-3 img-responsive" width="100%" height="200" />
        </svg>
        <div class="card-body">
            <p class="card-text">@Model.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.PhoneNumber</li>
            <li class="list-group-item">@Model.Site</li>
            <li class="list-group-item">@Model.Email</li>
        </ul>
        <div class="card-body">
            <form method="post" asp-controller="Products" asp-route-producerId="@Model.Id" asp-action="ProducerProductsAll">
                <button class="btn btn-info">Продукти</button>
            </form>
        </div>
        @if (this.User.Identity.IsAuthenticated)
        {
            <div class="card-body">
                <h5 class="card-text">Оцени</h5>
                <fieldset class="rating">
                    <span class="star" producer-id="@Model.Id" data-vote="1"><i class="fa fa-star"></i></span>
                    <span class="star" producer-id="@Model.Id" data-vote="2"><i class="fa fa-star"></i></span>
                    <span class="star" producer-id="@Model.Id" data-vote="3"><i class="fa fa-star"></i></span>
                    <span class="star" producer-id="@Model.Id" data-vote="4"><i class="fa fa-star"></i></span>
                    <span class="star" producer-id="@Model.Id" data-vote="5"><i class="fa fa-star"></i></span>
                    <span class="myratings" id="averageVoteValue @Model.Id">@Model.AverageVote</span>
                    <span class="myratings"> / 5</span>
                </fieldset>
            </div>
        }
        @if ((string)this.ViewData["Title"] == "Любими")
        {
            <div class="card-body">
                <form method="post" asp-controller="Consumers" asp-route-id="@Model.Id" asp-action="Delete">
                    <button class="btn btn-danger">Премахни от любими</button>
                </form>
            </div>
        }
        else
        {
            <div class="card-body">
                <form method="post" asp-controller="Consumers" asp-route-id="@Model.Id" asp-action="AddToFavorites">
                    <button class="btn btn-secondary">Добави в любими</button>
                </form>
            </div>
        }
        <div class="card-footer text-muted">
            Регистриран на @Model.CreatedOn.ToShortDateString()
        </div>
    </div>
</div>
